<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cougar Connect</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/apple-touch-icon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Baker
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/baker-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Cougar Connect</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto active" href="/">Home</a></li>
            <!--<li><a class="nav-link scrollto" href="#Browse">Browse</a></li>-->
            <li><a class="nav-link scrollto " href="/filter">Search</a></li>
            <li><a class="nav-link scrollto" href="/add">Add</a></li>
            <li><a class="nav-link scrollto" href="/account">Account</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="heroModified" class="d-flex align-items-center justify-content-center">
    <div class="container position-relative">
      <!--<h1>Welcome to Cougar Connect.</h1> <!--or perfect pick
      <h2>Never run out of ideas again: your preferences, your filters, the perfect acitivty for anyone.</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>-->
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title">
          <h2 id="about">Find the Perfect Activity for You.</h2>
          <!--<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
        </div>
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">
          <div class="text-center">
            <h3>Explore Activities Now.</h3>
            <p></p>
            <a class="cta-btn" href=''>Search</a>
          </div>
        </div>
    </section>
    <br>
    <div>
        <label><b>Activity Information:</b></label>
        <br><br>
        <table style="width: 100%; background-color: antiquewhite; border: 1px solid black;">
          <thead style="background-color: cornflowerblue; color: white;">
            <tr>
              <th style="text-align: left;">ID</th>
              <th style="text-align: left;">Activity</th>
              <th style="text-align: left;">Price</th> <!-- corrected order -->
              <th style="text-align: left;">Type</th>
              <th style="text-align: left;">Description</th>
              <th style="text-align: left;">Duration</th>
              <th style="text-align: left;">Time of Day</th>
              <th style="text-align: left;">Equipment (T or F)</th>
              <th style="text-align: left;">Location</th>
              <th style="text-align: left;">Season</th>
              <th style="text-align: left;">Indoor or Outdoor?</th>
              <th style="text-align: left;">Food</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody style="font-family: Arial; font-size: 9pt;">
            <% for (let iCount=0; iCount < myactivity.length; iCount++) { %>
              <tr>
                <td>
                  <%= myactivity[iCount].id %>
                </td>
                <td>
                  <%= myactivity[iCount].activity %>
                </td>
                <td>
                  <%= myactivity[iCount].price %>
                </td>
                <td>
                  <%= myactivity[iCount].type %>
                </td>
                <td>
                  <%= myactivity[iCount].description %>
                </td>
                <td>
                  <%= myactivity[iCount].duration %>
                </td>
                <td>
                  <%= myactivity[iCount].time_of_day %>
                </td>
                <td style="text-align: center;">
                  <%= myactivity[iCount].equipment %>
                </td>
                <td>
                  <%= myactivity[iCount].location %>
                </td>
                <td>
                  <%= myactivity[iCount].season %>
                </td>
                <td>
                  <%= myactivity[iCount].indoor_outdoor %>
                </td>
                <td style="text-align: center;">
                  <%= myactivity[iCount].food %>
                </td>
                <td style="text-align: center;">
                  <form action="/editActivity/<%= myactivity[iCount].id %>" method="GET">
                    <button type="submit">Edit</button>
                  </form>
                </td>
                <td style="text-align: center;">
                  <form action="/deleteActivity/<%= myactivity[iCount].id %>" method="POST">
                    <button type="submit">Delete</button>
                  </form>
                </td>
              </tr>
              <% } %>
          </tbody>
        </table>
        <br><br>
        <form action="/addActivity" method="GET">
          <button type="submit">Add Activity</button>
        </form>
      </section><!-- End Cta Section -->
    </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>